<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>19.0.1</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>2</NumElts>
<String>
<Name>HW Refnum &lt;Replace Me&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>Signal Type &lt;Replace Me&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Daguan Nong\Document\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Camera Configuration</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Resource</Name>
<NumElts>2</NumElts>
<Refnum>
<Name>CameraRef</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>PVCamNET.Camera, PVCamNET, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>LibraryRef</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>PVCamNET.Library, PVCamNET, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Setting</Name>
<NumElts>1</NumElts>
<DBL>
<Name>Expouse</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
</Cluster>
</LVData>