<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>19.0.1</Version>
<Cluster>
<Name>Settings</Name>
<NumElts>4</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>4</NumElts>
<Cluster>
<Name>Camera Configuration</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Setting</Name>
<NumElts>3</NumElts>
<DBL>
<Name>Expouse</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Frames</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Interval</Name>
<Val>100.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>Resource</Name>
<NumElts>3</NumElts>
<Refnum>
<Name>CameraRef</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>PVCamNET.Camera, PVCamNET, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x4B700079</Val>
</Refnum>
<Refnum>
<Name>LibraryRef</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>PVCamNET.Library, PVCamNET, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x4B5002E7</Val>
</Refnum>
<Array>
<Name>ImagesArray</Name>
<Dimsize>0</Dimsize>
<Refnum>
<Name>New Image</Name>
<RefKind>Generic Tag By Ref Flatten</RefKind>
<RefType>IMAQImage</RefType>
<Val></Val>
</Refnum>
</Array>
</Cluster>
</Cluster>
<Cluster>
<Name>SimpleCamera Configuration</Name>
<NumElts>1</NumElts>
<Cluster>
<Name>Resource</Name>
<NumElts>1</NumElts>
<Refnum>
<Name>Session Out</Name>
<RefKind>Generic Tag</RefKind>
<RefType>IMAQdx</RefType>
<Val></Val>
</Refnum>
</Cluster>
</Cluster>
<Cluster>
<Name>Stages Configuration</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Resource</Name>
<NumElts>3</NumElts>
<I32>
<Name>NanoStage Ref</Name>
<Val>3</Val>
</I32>
<I32>
<Name>MicroStage Ref</Name>
<Val>3</Val>
</I32>
<I32>
<Name>TirfLock Ref</Name>
<Val>3</Val>
</I32>
</Cluster>
<Cluster>
<Name>SettingValues</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>NanoState</Name>
<NumElts>4</NumElts>
<DBL>
<Name>Time</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>X</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Y</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Z</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>MicroState</Name>
<NumElts>2</NumElts>
<DBL>
<Name>Time 2</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Z</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>TirfLock</Name>
<NumElts>9</NumElts>
<DBL>
<Name>Time</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>X</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Y</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Sum</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Calbrate</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>LockedTarget</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Kp</Name>
<Val>4.00000000000000E-3</Val>
</DBL>
<DBL>
<Name>Ki</Name>
<Val>8.00000000000000E-4</Val>
</DBL>
<DBL>
<Name>Avg</Name>
<Val>10.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
</Cluster>
<Cluster>
<Name>Lasers Configuration</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>SettingValues</Name>
<NumElts>6</NumElts>
<SGL>
<Name>405 Power</Name>
<Val>0.00000</Val>
</SGL>
<SGL>
<Name>488 Power</Name>
<Val>40.00000</Val>
</SGL>
<SGL>
<Name>532 Power</Name>
<Val>0.00000</Val>
</SGL>
<SGL>
<Name>561 Power</Name>
<Val>0.00000</Val>
</SGL>
<SGL>
<Name>647 Power</Name>
<Val>0.00000</Val>
</SGL>
<SGL>
<Name>785 Power</Name>
<Val>106.70000</Val>
</SGL>
</Cluster>
<Cluster>
<Name>Resource</Name>
<NumElts>2</NumElts>
<Refnum>
<Name>Library Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.Lasers, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x4B8000DE</Val>
</Refnum>
<Cluster>
<Name>Lasers Ref</Name>
<NumElts>6</NumElts>
<Refnum>
<Name>405 Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.LaserBoxx, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>488 Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.LaserBoxx, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x4B900174</Val>
</Refnum>
<Refnum>
<Name>532 Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.LaserBoxx, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>561 Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.LaserBoxx, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>647 Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.LaserBoxx, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>785 Ref</Name>
<RefKind>.NET Refnum</RefKind>
<DotNetType>
<Name>Oxxius_Boxx.LaserBoxx, Oxxius_Boxx, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</Name>
</DotNetType>
<Val>0x4BA0022C</Val>
</Refnum>
</Cluster>
</Cluster>
</Cluster>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>7</NumElts>
<Path>
<Name>Log File Base Folder</Name>
<Val>C:\MMTest</Val>
</Path>
<String>
<Name>FilePrefix</Name>
<Val></Val>
</String>
<Path>
<Name>TiffFileFullPath</Name>
<Val>C:\Users\Daguan Nong\Document\LabVIEW Data\Logged Data.tdms\2020_02_02\20200202_145028\20200202_145028_TIFFs</Val>
</Path>
<Refnum>
<Name>TimeStampFile Ref</Name>
<RefKind>Byte Stream File</RefKind>
<Val>0x45C00002</Val>
</Refnum>
<Refnum>
<Name>NoteFileRef</Name>
<RefKind>Byte Stream File</RefKind>
<Val>0x45B00001</Val>
</Refnum>
<Refnum>
<Name>HardWareInfoFileRef</Name>
<RefKind>Byte Stream File</RefKind>
<Val>0x45A00000</Val>
</Refnum>
<String>
<Name>QuickNoteInfo</Name>
<Val></Val>
</String>
</Cluster>
<Cluster>
<Name>HardWare Status</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>CameraAndStages</Name>
<NumElts>4</NumElts>
<Boolean>
<Name>Camera</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>NanoStage</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>MicroStage</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>TIRFLock</Name>
<Val>1</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>Lasers</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>IsConnected</Name>
<NumElts>6</NumElts>
<Boolean>
<Name>405</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>488</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>532</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>561</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>647</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>785</Name>
<Val>1</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>IsOpened</Name>
<NumElts>6</NumElts>
<Boolean>
<Name>405</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>488</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>532</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>561</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>647</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>785</Name>
<Val>0</Val>
</Boolean>
</Cluster>
</Cluster>
</Cluster>
<Cluster>
<Name>CallBack Ref</Name>
<NumElts>4</NumElts>
<Refnum>
<Name>event callback refnum</Name>
<RefKind>Event Callback Refnum</RefKind>
<Val>0xB9A00000</Val>
</Refnum>
<Refnum>
<Name>event callback refnum 2</Name>
<RefKind>Event Callback Refnum</RefKind>
<Val>0xB9B00002</Val>
</Refnum>
<Refnum>
<Name>event callback refnum 3</Name>
<RefKind>Event Callback Refnum</RefKind>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>event callback refnum 4</Name>
<RefKind>Event Callback Refnum</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
</Cluster>
</LVData>